NEXT_PUBLIC_ONEENTRY_URL=https://xxx-xxx-xxx.xxx
NEXT_PUBLIC_ONEENTRY_TOKEN=xxxxx...

NEXT_PUBLIC_VERCEL_URL="https://xxx-xxx-xxx.vercel.app/"

# NEXT_PUBLIC_VERCEL_URL, then http://localhost:3700.
NEXT_PUBLIC_SITE_URL=https://xxx-xxx-xxx.xxx

# Google OAuth secrets
NEXT_PUBLIC_GOOGLE_CLIENT_ID=xxx-xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxx
